.owl-carousel.owl-loaded {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.owl-carousel .owl-nav {
    position: absolute;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.owl-carousel .owl-nav button {
    width: 50px;
    height: 50px;
    background-color: white !important;
    border-radius: 50px;
    color: #1F2D3D;
    box-shadow: 0px 3px 6px #0000001A;
    outline: none;
}

.owl-carousel .owl-nav button.disabled {
    color: #C0CCDA;
}

.car-detail {
    margin-top: -78px;
    position: relative;
    z-index: 999;
}

.card {
    border: 1px solid #E5E9F2;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #E5E9F2;
    padding: 14px 24px;
    margin-bottom: 16px;
}

.card__title {
    margin-bottom: 38px;
}

.card .card__title h1 {
    color: #1F2D3D;
    letter-spacing: 0;
    font-weight: 600;
    margin: 0;
}

.card .card__title small {
    color: #8492A6;
    margin: 0;
    font-size: 14px;
}

.car-info .info-item .info-label {
    color: #8492A6;
    font-size: 14px;
    margin: 0;
    line-height: 14px;
}

.car-info .info-item .info-value {
    color: #1F2D3D;
    font-size: 18px;
    font-weight: 600;
}

.description h3, .items h3 {
    color: #8492A6;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
}

.description p {
    color: #1F2D3D;
}

.items .item {
    color: #1F2D3D;
    font-weight: 600;
    margin-bottom: 8px;
}

.price small {
    color: #1F2D3D;
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    padding: 0;
    letter-spacing: -0.68px;
}

.price h2 {
    letter-spacing: -0.68px;
    color: #1F2D3D;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
}

.price-timeline h3 {
    letter-spacing: -0.29px;
    color: #8492A6;
    font-size: 12px;
    font-weight: bold;
}

ul.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.timeline .timeline-item {
    height: 28px;
    position: relative;
    display: flex;
    align-items: baseline;
}

ul.timeline .timeline-item * {
    color: #8492A6;
}
ul.timeline .timeline-item .price,
ul.timeline .timeline-item .time-ago,
ul.timeline .timeline-item .user {
    margin: 0 4px
}
ul.timeline .timeline-item .price {
    font-weight: 700;
}
ul.timeline .timeline-item .time-ago {
    font-size: 12px;
}
ul.timeline .timeline-item:first-child:before,
ul.timeline .timeline-item:last-child:before {
    border-color: #1F2D3D;
    background-color: #1F2D3D;
}
ul.timeline .timeline-item:last-child *,
ul.timeline .timeline-item:last-child *
{
    color: #1F2D3D;
}

ul.timeline .timeline-item.you:before {
    background-color: white;
    border-color: #FFB600;
}
ul.timeline .timeline-item:before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 7px;
    background-color: #D3DCE6;
    border: 2px solid #D3DCE6;
    display: inline-block;
    box-shadow: 0px 0px 0px 2px white;
    position: relative;
    z-index: 99;
    margin-right: 8px;
}
ul.timeline .timeline-item:after {
    content: '';
    height: 100%;
    width: 0;
    display: block;
    border: 1px solid #D3DCE6;
    position: absolute;
    top: 0;
    left: 3px;
}
ul.timeline .timeline-item:first-child:after {
    height: 50%;
    top: 50%;
}
ul.timeline .timeline-item:last-child:after {
    height: 50%;
}

.deadline-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deadline-info img {
    margin-right: 8px;
}

.countdown {
    display: flex;
    margin-bottom: 24px;
}

.countdown .countdown-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.countdown .countdown-item.active .value,
.countdown .countdown-item.active .label {
    color: #FFB600 !important;
}

.countdown .countdown-item .value {
    font-size: 28px;
    letter-spacing: -0.68px;
    color: #1F2D3D;

}

.countdown .countdown-item .label {
    font-size: 12px;
    letter-spacing: -0.68px;
    font-weight: 700;
    color: #8492A6;
}

.countdown .countdown-item:not(:last-child):after {
    content: '';
    height: 25px;
    border-left: 1px solid #E0E6ED;
    position: absolute;
    right: 0;
}
#currency {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-align: center;
    height: 48px;
}
.form-group.rounded .input-group-text button {
    background-color: transparent;
    font-size: 11px;
    border: none;
}
.form-group.rounded .input-group-append .input-group-text{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.form-group.rounded .input-group-prepend .input-group-text{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
 .modalPrice {
     background-color: #000000CC;
     opacity: 1;
     align-items: center;
     justify-content: center;
 }
.modalPrice .modal-dialog {
    border-radius: 10px;
    width: 343px;
    border: none;
    box-shadow: none;
}
.modalPrice .modal-dialog h2{
    color: #1F2D3D;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}
.modalPrice .modal-dialog .price{
    letter-spacing: -0.68px;
    color: #1F2D3D;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}
