.modal {
    background-color: #000000CC;
    opacity: 1;
}

.modal .modal-dialog {
    border-radius: 10px;
    border: none;
    box-shadow: none;
}

.modal .modal-dialog h2 {
    color: #1F2D3D;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}
.modal .modal-dialog h2 + small {
    text-align: center;
    letter-spacing: 0px;
    color: #8492A6;
}

.modal .modal-dialog .price {
    letter-spacing: -0.68px;
    color: #1F2D3D;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}
