.steps {
    display: flex;
    flex-direction: row;
}

.steps .steps__step {
    position: relative;
    display: flex;
}

.steps .steps__step:not(:first-child) {
    flex: 1;
}

.steps .steps__step:not(:first-child):before {
    content: '';
    width: 100%;
    height: 5px;
    background-color: #D3DCE6;
    border-radius: 5px;
    margin: 18px 0;
    transition: all .2s ease;
}

.steps .steps__step.active .steps__step__box__number {
    color: #FFB600;
    border-color: #FFB600;
    transition: all .2s ease;
}

.steps .steps__step.done + .steps__step.done:before,
.steps .steps__step.done + .steps__step.active:before {
    background-color: #FFB600;
    transition: all .2s ease;
}

.steps .steps__step.active .steps__step__box__label,
.steps .steps__step.done .steps__step__box__label {
    color: #FFB600;
    transition: all .2s ease;
}

.steps .steps__step.done .steps__step__box__number {
    border-color: #FFB600;
    background-color: #FFB600;
    color: #ffffff;
}

.steps .steps__step .steps__step__box {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 50px;
}

.steps .steps__step .steps__step__box__number {
    width: 26px;
    height: 26px;
    border-radius: 26px;
    border: 2px solid #C0CCDA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0;
    color: #8492A6;
    font-weight: 700;
    font-size: 18px;
    line-height: 0;
    margin: 8px 0;
    transition: all .2s ease;

}

.steps .steps__step .steps__step__box__label {
    text-align: center;
    letter-spacing: 0;
    color: #8492A6;
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
    word-break: keep-all;
    display: block;
    white-space: nowrap;
    transition: all .2s ease;
}

.form-title h1 {
    text-align: center;
    letter-spacing: 0;
    color: #1F2D3D;
    font-size: 28px;
    line-height: 22px;
}

.form-title small {
    display: block;
    text-align: center;
    letter-spacing: 0;
    font-size: 16px;
    color: #8492A6
}

.form-sell {
    width: 100%;
}

.checks {
    display: block;
    text-align: center;
}

.form-check.check-toggle-btn {
    margin: 8px;
}

.photos {
    display: flex;
}

.photos .form-control-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 8px;
    border: 1px solid #E0E6ED;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    max-height: 124px;
}

.photos .form-control-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.photos .form-control-image:first-child {
    margin-right: 8px;
    margin-left: 0px;
}

.photos .form-control-image:last-child {
    margin-left: 8px;
    margin-right: 0px;
}

.photos .form-control-image img:not('.image-loaded') {
    width: 72px;
    height: 72px;
}

.photos .form-control-image img.image-loaded {
    position: absolute;
    height: 100%;
    width: auto;
}

.photos .form-control-image span {
    color: #8492A6;
    font-size: 12px;
    font-weight: 700;
}

.photos .form-control-image input {
    display: none;
}

.form-sell {
    padding: 0 32px;
}

button.back{
    color: #C0CCDA;
    margin-bottom: 8px;
}

@media screen and (min-width: 520px) {
    .steps {
        padding: 0 64px;
    }

    .form-sell {
        width: 570px;
    }

    .form-group {
        margin: 0 64px;
    }
}
