/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Fayaz - dzkanch@gmail.com
 */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

* {
    font-family: "Source Sans Pro", sans-serif;
}

html {
    height: 100%
}

body {
    font-family: 'Source Sans Pro';
    background: #F9FAFC 0% 0% no-repeat padding-box;
    height: 100%;
}

body > .wrapper {
    min-height: calc(100vh - 145px);
}

.nav-conti {
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.058);
    padding: 5px 10px;
    position: relative;
    z-index: 999;
}

.nav-conti .navbar-nav {
    margin-left: auto
}

.nav-conti .navbar-nav li a {
    text-align: left;
    font: 600 14.55px/21px Source Sans Pro;
    letter-spacing: 0;
    color: #8492A6;
    padding: 10px 15px !important;
}

.nav-conti .navbar-nav li a:hover {
    color: #FFB600 !important;
}

.btnc1 a {
    color: #FFB600 !important;
    font-weight: bold !important
}

.nav-conti .navbar-nav li.btnc2 a {
    width: 160px;
    text-align: center;
    border: 2px solid #FFB600;
    background: #FFB600 0% 0% no-repeat padding-box;
    border-radius: 999px;
    text-align: center;
    font: 700 16px/21px Source Sans Pro;
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 10px 20px;
}

.nav-conti .navbar-nav li.btnc2 a:hover {
    background: #FFF !important
}

#footer {
    background: #1F2D3D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 16px #E5E9F2;
    padding: 13px 0px;
    margin-top: 60px;
}

.copy-cc p {
    margin-bottom: 0px;
    text-align: left;
    font: 300 14px/21px Source Sans Pro;
    letter-spacing: 0;
    color: #C0CCDA;
}

.fmenu li a {
    font: 400 14px/21px Source Sans Pro;
    letter-spacing: 0;
    color: #FFFFFF;
}

.fmenu3 {
    text-align: right
}

.fmenu3 .btnc2 a {
    width: 160px;
    text-align: center;
    border: 2px solid #FFB600;
    background: #FFB600 0% 0% no-repeat padding-box;
    border-radius: 999px;
    text-align: center;
    font: 700 16px/21px Source Sans Pro;
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 10px 20px;
    margin: 0px 0px 0px auto;
}

.fmenu3 .btnc2 a:hover {
    background: #1f2d3d !important;
    color: #FFB600
}

.btnc2 {
    margin-bottom: 0px
}


.home-hero1 h2 {
    text-align: center;
    max-width: 640px;
    margin: 0px auto;
    font: 600 28px/38px Source Sans Pro;
}

.home-hero2 {
    text-align: center;
    padding: 20px 20px 0px 20px;
}

.home-hero1 h2 strong {
    color: #FFB600;
    font-weight: 600
}

.home-hero2 p {
    margin-bottom: -8px
}

.home-hero3 {
    max-width: 770px;
    height: 72px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 32px #E5E9F2;
    border-radius: 20px;
    padding: 8px 10px 8px 20px;
    margin-bottom: 60px;
}

.home-hero3 i.fas.fa-search {
    color: #8492A6;
    font-size: 23px
}

.home-hero3 input[type=text] {
    min-width: 300px;
    width: 70%;
    height: 20px;
    background: none !important;
    border: none !important;
    text-align: left;
    font: 400 16px/24px Source Sans Pro;
    letter-spacing: 0;
    color: #8492A6;
    outline: 0 !important;
    margin-left: 10px;
    max-width: 500px;
}

.home-hero1 {
    margin-top: 60px;
}

.home-hero3 .form-inline {
    margin: 0px !important
}

.smb-bb {
    width: 186px;
    height: 56px;
    border: none;
    background: #FFB600 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 32px #FFB60030;
    border-radius: 12px;
    text-align: center;
    font: 700 16px/24px Source Sans Pro;
    letter-spacing: 0;
    color: #FFFFFF;
}

.hdc1 h3 {
    font: 700 16px/22px Source Sans Pro;
    letter-spacing: -0.39px;
    color: #8492A6;
}

.lstc-mm-item .lstc-badge {
    position: absolute;
    right: 4px;
    top: 4px;
    background: #FFB600;
    border-radius: 40px;
    padding: 2px 8px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
}

.lstc-mm-item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 32px #E5E9F2;
    border-radius: 10px;
    margin: 20px 0px;
    display: block;
    cursor: pointer;
    text-decoration: none !important;
    position: relative;
}

.lstc-mm-img img {
    max-width: 100%;
    min-width: 100%;
    height: auto
}

.lstc-mm-content p {
    margin-bottom: 9px;
}

.lstc-mm-content {
    padding: 15px 15px 0px 15px;
    font: 400 16px/22px Source Sans Pro;
    letter-spacing: -0.39px;
    color: #8492A6;
    position: relative;
}

.lstc-mm-content .more-btn {
    position: absolute;
    top: 14px;
    right: 8px;
    border: none;
    background: none;
    font-size: 14px;
    color: #FFB600;
}

.lstc-mm-content h4 {
    font: 600 18px/22px Source Sans Pro;
    letter-spacing: -0.43px;
    color: #1F2D3D;
    margin-bottom: 4px;
}

.lstc-mm-detail {
    padding: 0px 15px 7px 15px;
}

.lstc-mm-loc {
    padding: 15px;
}

.lstc-mm-detail {
    font: 700 13px/22px Source Sans Pro;
    letter-spacing: -0.29px;
    color: #1F2D3D;
}

.lstc-mm-detail p {
    margin-bottom: 4px;
}

.lstc-mm-detail strong {
    font: 600 20px/21px Source Sans Pro;
    letter-spacing: -0.48px;
    color: #1F2D3D;
}

.lstc-mm-detail small {
    font: 400 14px/22px Source Sans Pro;
    letter-spacing: -0.34px;
    color: #8492A6;
    margin-right: 15px;
}

.lstc-mm-loc i {
    margin-right: 7px
}

.lstc-mm-loc p {
    margin-bottom: 0px
}

.lstc-mm-loc {
    border-top: 1px solid #eee;
    font: Regular 14px/22px Source Sans Pro;
    letter-spacing: -0.34px;
    color: #8492A6;
}


@media (max-width: 992px) {
    .nav-conti .navbar-nav li a {
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid #fdf7f7;
        padding: 15px !important
    }

    .nav-conti .navbar-nav li.btnc2 a {
        width: 100%;
        border-radius: 0px
    }
}

.form-group.floating-label {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-group.floating-label .form-control:focus,
.form-group.floating-label .form-control:valid,
.form-group.floating-label .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E0E6ED;
    border-radius: 0;
    -moz-border-radius: 0;
    padding: .375rem 0;
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
}

.form-group.floating-label label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 0 0 0;
    transition: all 200ms;
    color: #8492A6;
    font-size: 18px;
}

.form-group.floating-label .form-control:focus + label,
.form-group.floating-label.has-value .form-control + label,
.form-group.floating-label.static .form-control + label,
.form-group.floating-label .form-control + div + label {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.form-group.floating-label .form-control:focus,
.form-group.floating-label.has-value .form-control {
    border-bottom: 2px solid #1F2D3D;
}

.form-group.floating-label .input-group .input-group-text {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E0E6ED;
    border-radius: 0;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0px;
    color: #FFB600;
    text-transform: uppercase;
    outline: none;
}

.form-group.floating-label .input-group input:focus + label + .input-group-append .input-group-text {
    border-bottom: 2px solid #1F2D3D;
}

.form-group.password-shown {
    position: relative;
}


.side-select select.form-control {
    background-color: transparent;
    border: none;
    display: inline;
    width: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 24px;
    padding-left: 0;
    color: #8492A6;
}

.side-select {
    position: relative;
    display: inline-flex;
    height: 48px;
    align-items: center;
}

.side-select:after {
    height: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    color: #8492A6;
    font-size: 11px;
    position: absolute;
    right: 8px;
    padding: 18px 0;
    color: #FFB600;
}

.form-group.password-shown button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin-right: 5px;
    background: transparent;
    border: none;
    outline: none;
}

.form-group:not(.floating-label) .input-group .input-group-append .input-group-text,
.form-group:not(.floating-label) .input-group .input-group-prepend .input-group-text,
.form-group:not(.floating-label) .input-group input {
    background-color: white;
    border: 2px solid #E0E6ED;
    height: 48px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.form-group:not(.floating-label) .input-group .input-group-prepend .input-group-text {
    border-radius: 16px 0 0 16px;
}

.form-group:not(.floating-label) .input-group .input-group-append .input-group-text {
    border-left: 0;
}

.form-group:not(.floating-label) .input-group .input-group-prepend .input-group-text {
    border-right: 0;
}

.form-group:not(.floating-label) .input-group.has-append input {
    border-right: 0;
    border-radius: 16px 0 0 16px;
}

.form-group:not(.floating-label) .input-group.has-prepend input {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn, .btn:focus {
    height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    outline: 0;
    font-weight: 700;
}

.form-group.custom-input input {
    background-color: white;
    border: 2px solid #E0E6ED;
    height: 48px;
    border-radius: 16px;
}

.form-group.inline-group {
    display: flex;
    align-items: center;
}

.form-group.inline-group input {
    flex: 1;
}

.form-check {
    display: flex;
    align-items: center;
    padding: 0;
    height: 37px;
    position: relative;
}

.form-check > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #D3DCE6;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    background-color: white;
}

.form-check > input[type=radio] {
    border-radius: 20px;
}

.form-check > input[type=radio] + label {
    margin-left: 8px;
    margin-right: 8px;
}

.form-check > input:checked {
    background-color: #FFB600;
    border-color: #FFB600;
}

.form-check > input:checked + label:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 11px;
    position: absolute;
    left: 5px;
    color: white;
}

.form-check > input:focus {
    outline: none;
    box-shadow: none;
}

.form-check > label {
    margin: 0;
    margin-left: 28px;
    display: flex;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
    color: #8492A6;
}

.form-check.check-toggle-btn {
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

.form-check.check-toggle-btn input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.form-check.check-toggle-btn label {
    margin: 0;
    position: relative;
    z-index: 999;
    display: block;
    color: #273444;
    font-weight: 700;
    height: 40px;
    padding: 7px 15px;
    cursor: pointer;
}

.form-check.check-toggle-btn > input:checked + label:before {
    display: none;
}

.form-check.check-toggle-btn > input:checked {
    background-color: white;
    border-color: #FFB600;
}

.form-check.check-toggle-btn > input:checked + label {
    color: #FFB600;
}

.btn.block {
    width: 100%;
}

.btn.primary {
    background-color: #FFB600;
    color: white;
}

a.btn, a.btn:hover {
    font-weight: 500;
    text-decoration: none;
    color: #8492A6;
}

.btn.btn-facebook {
    background-color: #1672FF;
    color: white;
}

.btn.btn-google {
    background-color: #F73859;
    color: white;
}

.divider {
    color: #8492A6;
    display: block;
    font-size: 14px;
    text-align: center;
}

.source-sans {
    font-family: "Source Sans Pro", sans-serif;
}

.source-sans.w400 {
    font-weight: 400;
}

.source-sans.w600 {
    font-weight: 600;
}

.source-sans.w700 {
    font-weight: 700;
}

.input-search {
    position: relative;
    display: flex;
    align-items: center;
}

.input-search input {
    padding-left: 48px;
    min-width: 360px;
    border-radius: 16px;
    height: 48px;
}

.input-search img {
    position: absolute;
    left: 16px;
}

.breadcrumb {
    background-color: transparent;
    padding-left: 0;
}

.breadcrumb .breadcrumb-item {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
}

.breadcrumb .breadcrumb-item a {
    color: #8492A6;
}

.breadcrumb .breadcrumb-item .active {
    color: #1F2D3D;
}

.breadcrumb-item + .breadcrumb-item::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    color: #8492A6;
    font-size: 11px;
}

.wrapper.has-sidebar {
    display: flex;
}

.wrapper.has-sidebar + footer #footer,
#chat + footer #footer {
    margin-top: 0;
    position: relative;
    z-index: 999;
}

.wrapper.has-sidebar aside {
    width: 394px;
    min-height: 100%;
    padding: 32px 24px;
    background-color: #FFFFFF;
}

.wrapper.has-sidebar aside section {
    padding: 24px 0;
    position: relative;
}

.wrapper.has-sidebar aside section:not(:last-child):after {
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

.wrapper.has-sidebar aside h3 {
    color: #1F2D3D;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
}

.wrapper.has-sidebar .content-wrapper {
    flex: 1;
    min-height: 100%;
}

.wrapper.has-sidebar aside .list-group .list-group-item {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border: none;
    position: relative;
    height: 50px;
    font-family: "Source Sans Pro", sans-serif;
    color: #8492A6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper.has-sidebar aside .list-group .list-group-item button {
    background-color: transparent;
    border: none;
    color: #FFB600;
    padding: 0;
    height: 100%;
}

.wrapper.has-sidebar aside .list-group .list-group-item:not(:last-child):after,
.wrapper.has-sidebar aside section:not(:last-child):after {
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid #EFF2F7;
    content: '';
    display: block;
    width: calc(100% + 48px);
    z-index: 999;
    left: -24px;
}

.wrapper.has-sidebar aside section:not(:last-child):after {
    border-color: #E5E9F2;
}

.sl-overlay {
    background-color: #1F2D3D;
}

.simple-lightbox * {
    color: #ffffff !important;
}

ul.nav.tabs {
    border-bottom: 1px solid #E0E6ED;
}

ul.nav.tabs .nav-item {
    position: relative;
}

ul.nav.tabs .nav-item a {
    text-align: center;
    font-weight: 600;
    letter-spacing: 0;
    color: #8492A6;
    opacity: 1;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

ul.nav.tabs .nav-item a.active {
    color: #1F2D3D;
}

ul.nav.tabs .nav-item a.active:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #FFB600;
    left: 0;
    bottom: 0;
}

.more-menu, .dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px #E0E6ED;
    border: 1px solid #E5E9F2;
    border-radius: 2px;
    min-width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropdown-menu li a,
.more-menu li a {
    display: block;
    padding: 8px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #1F2D3D;
    opacity: 1;
    border-bottom: 1px solid #EFF2F7;
    text-decoration: none;
}

.dropdown-menu li a:hover,
.more-menu li a:hover {
    text-decoration: none
}

.dropdown-menu li:last-child a,
.more-menu li:last-child a {
    border: none;
}

[data-dropdown] {
    position: relative;
    cursor: pointer;
}

[data-dropdown] .dropdown-menu {
    width: 100%;
}

.user[data-dropdown] .dropdown-menu {
    margin-top: 13px;
}

.more-btn + .more-menu {
    position: absolute;
    top: 42px;
    right: 16px;
    display: none;
}

.nav.flex-column a {
    text-align: left;
    font-weight: 600;
    letter-spacing: 0px;
    color: #8492A6;
    opacity: 1;
}

.nav.flex-column a:hover, .nav.flex-column a.active {
    color: #1F2D3D;
}

.nav.flex-column a i {
    width: 30px;
}

.user {
    display: flex;
    align-items: center
}

.user .user__info {
}

.user .user__info .user__info__email, .user .user__info .user__info__name {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
    color: #1F2D3D;
    margin: 0;
    padding: 0;
    text-align: right;
}

.user .user__info .user__info__email {
    color: #8492A6;
}

.user figure {
    width: 48px;
    height: 48px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 48px;
    margin-left: 16px;
    position: relative;
}

.user img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.user img:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #8492A6;
}

button.has-new {
    position: relative;
}

button.has-new .new-sign {
    position: absolute;
    width: 11px;
    height: 11px;
    background: #FF000A;
    border: 2px solid #FFFFFF;
    top: 13px;
    right: 13px;
    border-radius: 11px;
}

.chat {
    width: 300px;
    position: fixed;
    right: 32px;
    bottom: 0;
    z-index: 999;
}

.chat .chat__header {
    background: #FFFFFF;
    box-shadow: 0px -2px 3px #E5E9F2;
    border: 1px solid #E5E9F2;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 48px;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.chat .chat__header figure,
.chat .chat__dialog .chat__dialog__msg-balloon figure {
    height: 32px;
    width: 32px;
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px 0 0;
}

.chat .chat__header figure img,
.chat .chat__dialog .chat__dialog__msg-balloon figure img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.chat .chat__header figure img:before,
.chat .chat__dialog .chat__dialog__msg-balloon figure img:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #8492A6;
}

.chat .chat__header h2 {
    margin: 0;
    font-weight: 600;
    letter-spacing: 0;
    color: #1F2D3D;
    opacity: 1;
    font-size: 16px;
}
.chat .chat__header .chat__header__badge {
    width: 16px;
    height: 16px;
    background: #FF4949;
    border: 2px solid #FFFFFF;
    font: Bold 10px/21px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    border-radius: 16px;
    position: absolute;
    z-index: 9;
    top: 5px;
    left: 30px;
}

.chat .chat__dialog {
    background: #FFFFFF;
    box-shadow: 0px -2px 3px #E5E9F2;
    border: 1px solid #E5E9F2;
    padding: 32px 12px;
    max-height: 300px;
    overflow-y: auto;
    transition: all .2s ease;
}

.chat:not(.opened) .chat__dialog {
    max-height: 0;
    padding: 0 12px;
    transition: all .2s ease;
}

.chat .chat__dialog .chat__dialog__msg-balloon {
    display: flex;
    align-items: flex-end;
}


.chat .chat__dialog .chat__dialog__msg-balloon:not(:last-child) {
    margin-bottom: 16px;
}

.chat .chat__dialog .chat__dialog__msg-balloon figure {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin-right: 20px;
}
.chat .chat__dialog .chat__dialog__msg-balloon .chat__dialog__msg-baloon__msg {
    background: #EFF2F7;
    padding: 24px;
    border-radius: 10px 10px 10px 0;
    font-size: 14px;
    color: #273444;
    position: relative;
}



.chat .chat__dialog .chat__dialog__msg-balloon .chat__dialog__msg-baloon__msg:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 20px solid #EFF2F7;
    border-left: 15px solid transparent;
    position: absolute;
    left: -15px;
    bottom: 0;
}

.chat .chat__dialog .chat__dialog__msg-baloon--dark .chat__dialog__msg-baloon__msg {
    background-color: #1F2D3D;
    color: white;
}
.chat .chat__dialog .chat__dialog__msg-baloon--dark .chat__dialog__msg-baloon__msg:before {
    border-bottom-color: #1F2D3D;
}
.chat .chat__dialog .chat__dialog__msg-balloon .chat__dialog__msg-baloon__msg p {
    margin: 0;
}
.chat .chat__dialog .chat__dialog__msg-balloon .chat__dialog__msg-baloon__msg a {
    text-decoration: underline;
    font-size: 14px;
    letter-spacing: 0px;
    color: #FFB600;
}
.title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    color: #1F2D3D;
}
.alert.alert-success {
    height: 51px;
    background: #13CE66;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: none;
    border-radius: 0;
    font-weight: 600;
}
.alert.alert-success.dark {
    background-color: #1F2D3D;
}
.alert.alert-success.dark i {
    color: #13CE66;
}
.alert.alert-success.dark a {
    text-decoration: underline;
    color: #FFB600;
}

.dropdown-menu {

}

.select2 {
    width: 100% !important;
}

.select2-selection {
    border: none !important;
    width: 100% !important;
}

.select2-selection__arrow {
    display: none !important;
}

.select2-container .select2-dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
}

li.select2-results__option--highlighted {
    background-color: #FFB600 !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
    display: inherit;
}
